@tailwind base;
@tailwind components;
@tailwind utilities;

/* Tùy chỉnh thanh cuộn (Scrollbar) cho giống thiết kế */
.custom-scrollbar::-webkit-scrollbar {
  width: 6px;
}
.custom-scrollbar::-webkit-scrollbar-track {
  background: transparent;
}
.custom-scrollbar::-webkit-scrollbar-thumb {
  background-color: rgba(156, 163, 175, 0.5);
  border-radius: 20px;
}