name: Build Favo App

on:
  push:
    tags:
      - 'v*' # Chỉ chạy khi có tag v1.0.0, v1.0.1...

jobs:
  release:
    runs-on: windows-latest
    permissions:
      contents: write
    steps:
      - name: Check out Git repository
        uses: actions/checkout@v4

      - name: Install Node.js
        uses: actions/setup-node@v4
        with:
          node-version: 20

      - name: Install Dependencies
        run: npm install

      - name: Build React
        run: npm run build

      - name: Build & Release Electron
        env:
          GH_TOKEN: ${{ secrets.GH_TOKEN }}
        run: |
          npx electron-builder --win --publish always